body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(45deg, #62b4cd, #8BC34A);
    color: white;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.title-and-nav {
    flex-grow: 1;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

marquee {
    background: #74b3b7;
    color: white;
    padding: 10px 0;
    font-size: 16px;
}

.nav-buttons button {
    background-color: #FFC107;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.nav-buttons .logout-button {
    background-color: #f44336;
}

.nav-buttons button:hover {
    opacity: 0.8;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.super-admin-section {
    text-align: center;
}

.super-admin-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #92b426;
}