Dear {{name}},

We are pleased to inform you that your license is now ready for collection.Please visit the Department of Transport
Management(DoTM) at your earliest convenience to collect it.

Details:
License Holder Name: {{name}}
License Number: {{licence}}
Office Hours: 9:00 am to 5:00 pm

Note:
Bring a valid ID for verification purposes when collecting your license. Should you have any questions or require
further assistance, feel free to contact us at 01-4574921

Thank you for your attention to this matter.


Department of Transport Management
01-4574921
gunaso.dotm@gmail.com
{{date}}