{% extends "superadmin/base.html" %}
{% block content %}

</head>

<body>
    <div class="main">
        <form class="form" method="post">
            {% csrf_token %}
            <div class="title">Welcome</div>
            <div class="subtitle"> superadmin creates xadmin here</div>

            <div class="input-container ic2">
                <input placeholder="" type="email" class="input" id="password" name="email" required>
                <div class="cut"></div>
                <label class="iLabel" for="password" name="newpassword">Enter email</label>
            </div>
            <div class="input-container ic2">
                <input placeholder="" type="password" class="input" id="password" name="password" required>
                <div class="cut"></div>
                <label class="iLabel" for="password" name="newpassword">Password</label>
            </div>
            <div class="input-container ic2">
                <input placeholder="" type="password" name='confirmpassword' class="input" id="confirm-password"
                    name="confirm-password" required>
                <div class="cut"></div>
                <label class="iLabel" for="confirm-password">Confirm-Password</label required>
            </div>

            <button class="submit" type="text">submit</button>
        </form>
    </div>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    {% if messages %}
    {% for message in messages%}
    <script>
        alertify.set('notifier', 'position', 'top-right');
        alertify.set('notifier', 'delay', 10);
        alertify.warning('{{message}}');
    </script>
    {% endfor %}

    {% endif %}
</body>

{% endblock content %}